# Cleaning & Transformation Script
- First, we will read the data into a pandas DataFrame and start analyzing the data to gather insights on what should be cleaned
- Afterwards, we can start rearranging columns, renaming as needed, and removing NULL/Duplicate values if necessary
- After cleaning the data, we can then transform the data by creating new FACT columns generated. These columns can then be analyzed later for actionable insights

In [512]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [513]:
import pandas as pd

# Reads CSV file into a pandas DataFrame:
df = pd.read_csv('NYC_sales.csv')

/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/4082701045.py:4: DtypeWarning: Columns (0,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NYC_sales.csv')

In [514]:
# Checks the first five records of the DataFrame:
df.head(30)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL,ADDRESS,APARTMENT NUMBER,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Census Tract 2020,NTA Code
0,1,CHELSEA,21 OFFICE BUILDINGS,4,697,5,NaN,O2,555 WEST 25TH STREET,NaN,...,40.749704,-74.004930,104.0,3.0,99.0,1012379.0,1.006970e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
1,1,CHELSEA,21 OFFICE BUILDINGS,4,697,23,NaN,O6,511 WEST 25TH STREET,NaN,...,40.749364,-74.004132,104.0,3.0,99.0,1012382.0,1.006970e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
2,1,CHELSEA,21 OFFICE BUILDINGS,4,700,55,NaN,O2,538 WEST 29TH STREET,NaN,...,40.752067,-74.002931,104.0,3.0,99.0,1012435.0,1.007000e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
3,1,CHELSEA,21 OFFICE BUILDINGS,4,712,1,NaN,O6,450 WEST 15TH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,CHELSEA,21 OFFICE BUILDINGS,4,746,64,NaN,O8,340 WEST 23RD STREET,NaN,...,40.745809,-73.999729,104.0,3.0,93.0,1013367.0,1.007460e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
5,1,CHELSEA,21 OFFICE BUILDINGS,4,802,75,NaN,O6,158 WEST 27 STREET,NaN,...,40.746089,-73.992576,105.0,3.0,95.0,1015055.0,1.008020e+09,Midtown-Midtown South,NaN,NaN
6,1,CHELSEA,21 OFFICE BUILDINGS,4,803,4,NaN,O4,307 7 AVENUE,NaN,...,40.746869,-73.993616,105.0,3.0,95.0,1015061.0,1.008030e+09,Midtown-Midtown South,NaN,NaN
7,1,CHELSEA,22 STORE BUILDINGS,4,697,13,NaN,K9,521 WEST 25TH STREET,NaN,...,40.749441,-74.004313,104.0,3.0,99.0,1080314.0,1.006970e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
8,1,CHELSEA,22 STORE BUILDINGS,4,772,72,NaN,K7,250 WEST 23RD STREET,NaN,...,40.744698,-73.997091,104.0,3.0,91.0,1014135.0,1.007720e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
9,1,CHELSEA,22 STORE BUILDINGS,4,772,74,NaN,K4,254 WEST 23RD STREET,NaN,...,40.744731,-73.997174,104.0,3.0,91.0,1014136.0,1.007720e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
10,1,CHELSEA,22 STORE BUILDINGS,4,774,79,NaN,K4,276 WEST 25TH STREET,NaN,...,40.746207,-73.996687,104.0,3.0,91.0,1014185.0,1.007740e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
11,1,CHELSEA,23 LOFT BUILDINGS,4,799,67,NaN,L1,"148 WEST 24TH STREET, 4 FL",NaN,...,40.744149,-73.993721,104.0,3.0,91.0,1014966.0,1.007990e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
12,1,CHELSEA,23 LOFT BUILDINGS,4,802,54,NaN,L1,118 WEST 27TH STREET,NaN,...,40.745749,-73.991764,105.0,3.0,95.0,1015050.0,1.008020e+09,Midtown-Midtown South,NaN,NaN
13,1,CHELSEA,30 WAREHOUSES,4,700,57,NaN,E9,542 WEST 29TH STREET,NaN,...,40.752098,-74.002999,104.0,3.0,99.0,1012437.0,1.007000e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
14,1,CHELSEA,30 WAREHOUSES,4,794,9,NaN,E9,157 WEST 18TH STREET,NaN,...,40.740526,-73.996575,104.0,3.0,87.0,1014713.0,1.007940e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
15,1,CHELSEA,31 COMMERCIAL VACANT LAND,4,738,60,NaN,V1,336 WEST 15TH STREET,NaN,...,40.740918,-74.003165,104.0,3.0,83.0,1000000.0,1.007380e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
16,1,CHELSEA,31 COMMERCIAL VACANT LAND,4,800,50,NaN,H2,113 WEST 24TH STREET,NaN,...,40.743858,-73.992984,104.0,3.0,91.0,1089732.0,1.008000e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
17,1,CHELSEA,33 EDUCATIONAL FACILITIES,4,697,31,NaN,W3,259 10TH AVENUE,NaN,...,40.749065,-74.003183,104.0,3.0,99.0,1012384.0,1.006970e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
18,1,CHELSEA,33 EDUCATIONAL FACILITIES,4,738,54,NaN,W8,324 WEST 15TH STREET,NaN,...,40.740817,-74.002923,104.0,3.0,83.0,1080380.0,1.007380e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
19,1,CHELSEA,44 CONDO PARKING,4,716,1145,NaN,RG,"444 WEST 19TH STREET, P3",P3,...,40.744695,-74.004706,104.0,3.0,89.0,1012565.0,1.007168e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
20,1,CHELSEA,44 CONDO PARKING,4,768,1215,NaN,RG,"134 7 AVENUE, 4",4,...,40.741146,-73.997806,104.0,3.0,87.0,1068033.0,1.007688e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
21,1,CHELSEA,44 CONDO PARKING,4,768,1231,NaN,RG,"140 7TH AVENUE, 20",20,...,40.741324,-73.997680,104.0,3.0,87.0,1068033.0,1.007688e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
22,1,CHELSEA,45 CONDO HOTELS,4,740,1001,NaN,RH,"346 WEST 17TH STREET, HOTEL",HOTEL,...,40.742233,-74.002494,104.0,3.0,83.0,1088885.0,1.007408e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
23,1,CHELSEA,46 CONDO STORE BUILDINGS,4,697,1007,NaN,RK,"545 WEST 25TH STREET, 7",7,...,40.749627,-74.004750,104.0,3.0,99.0,1087496.0,1.006978e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
24,1,CHELSEA,46 CONDO STORE BUILDINGS,4,721,1001,NaN,RK,"410 WEST 24TH STREET, 8I",12B,...,40.747407,-74.001483,104.0,3.0,93.0,1077236.0,1.007218e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
25,1,CHELSEA,46 CONDO STORE BUILDINGS,4,740,1002,NaN,RK,"346 WEST 17TH STREET, RET",RET,...,40.742233,-74.002494,104.0,3.0,83.0,1088885.0,1.007408e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
26,1,CHELSEA,46 CONDO STORE BUILDINGS,4,796,1201,NaN,RK,"129 WEST 20TH STREET, C-1",COMM,...,40.741514,-73.995287,104.0,3.0,87.0,1014747.0,1.007968e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
27,1,CHELSEA,47 CONDO NON-BUSINESS STORAGE,4,723,1053,NaN,RS,"263 9 AVENUE, STG3",STG3,...,40.748178,-74.000112,104.0,3.0,93.0,1012826.0,1.007238e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN
28,MANHATTAN,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,377,72,NaN,B9,231 EAST 7TH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1,CHELSEA,47 CONDO NON-BUSINESS STORAGE,4,723,1063,NaN,RS,"263 9 AVENUE, STG13",STG13,...,40.748178,-74.000112,104.0,3.0,93.0,1012826.0,1.007238e+09,Hudson Yards-Chelsea-Flatiron-Union Square,NaN,NaN

In [515]:
# Checks the number of rows and columns in the DataFrame
df.shape

(606260, 31)

In [516]:
# Checks the column names in the DataFrame
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AS OF FINAL ROLL', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AS OF FINAL ROLL', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'Latitude', 'Longitude', 'Community Board',
       'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA',
       'Census Tract 2020', 'NTA Code'],
      dtype='object')

In [517]:
# Checks the data types of each column in the DataFrame
df.dtypes

BOROUGH                             object
NEIGHBORHOOD                        object
BUILDING CLASS CATEGORY             object
TAX CLASS AS OF FINAL ROLL          object
BLOCK                                int64
LOT                                  int64
EASE-MENT                          float64
BUILDING CLASS AS OF FINAL ROLL     object
ADDRESS                             object
APARTMENT NUMBER                    object
ZIP CODE                           float64
RESIDENTIAL UNITS                  float64
COMMERCIAL UNITS                   float64
TOTAL UNITS                        float64
LAND SQUARE FEET                    object
GROSS SQUARE FEET                   object
YEAR BUILT                         float64
TAX CLASS AT TIME OF SALE            int64
BUILDING CLASS AT TIME OF SALE      object
SALE PRICE                           int64
SALE DATE                           object
Latitude                           float64
Longitude                          float64
Community Board                    float64
Council District                   float64
Census Tract                       float64
BIN                                float64
BBL                                float64
NTA                                 object
Census Tract 2020                  float64
NTA Code                            object
dtype: object

In [518]:
# Drop columns from columns_to_drop list and into a new DataFrame called df_dropped
# That way you do not overwrite the original DataFrame from above
columns_to_drop = ['BUILDING CLASS CATEGORY','BLOCK','LOT','EASE-MENT','APARTMENT NUMBER','Longitude','Latitude','Community Board', 'Council District','Census Tract','BBL','Census Tract 2020','NTA','NTA Code']
df_dropped = df.drop(columns=columns_to_drop)

# Display the new DataFrame after dropping columns
print("\nDataFrame after dropping columns:")
df_dropped.head(50)

DataFrame after dropping columns:

,BOROUGH,NEIGHBORHOOD,TAX CLASS AS OF FINAL ROLL,BUILDING CLASS AS OF FINAL ROLL,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BIN
0,1,CHELSEA,4,O2,555 WEST 25TH STREET,10001.0,0.0,8.0,8.0,"7,406","40,926",1926.0,4,O2,43300000,03/28/2019,1012379.0
1,1,CHELSEA,4,O6,511 WEST 25TH STREET,10001.0,0.0,53.0,53.0,"9,890","83,612",1917.0,4,O6,148254147,05/23/2019,1012382.0
2,1,CHELSEA,4,O2,538 WEST 29TH STREET,10001.0,1.0,3.0,4.0,"2,498","7,380",1910.0,4,O2,11000000,03/13/2019,1012435.0
3,1,CHELSEA,4,O6,450 WEST 15TH,10011.0,0.0,30.0,30.0,"34,188","281,361",1936.0,4,O6,591800000,05/22/2019,NaN
4,1,CHELSEA,4,O8,340 WEST 23RD STREET,10011.0,3.0,1.0,4.0,"2,469","5,603",1900.0,4,O8,0,04/01/2019,1013367.0
5,1,CHELSEA,4,O6,158 WEST 27 STREET,10001.0,0.0,14.0,14.0,"8,305","108,000",1913.0,4,O6,99350000,10/24/2019,1015055.0
6,1,CHELSEA,4,O4,307 7 AVENUE,10001.0,0.0,194.0,194.0,"10,225","197,612",1926.0,4,O4,115000000,10/17/2019,1015061.0
7,1,CHELSEA,4,K9,521 WEST 25TH STREET,10001.0,0.0,1.0,1.0,"24,687","81,065",1910.0,4,K9,148254147,05/23/2019,1080314.0
8,1,CHELSEA,4,K7,250 WEST 23RD STREET,10011.0,0.0,1.0,1.0,"4,938","15,716",1948.0,4,K7,14500000,09/05/2019,1014135.0
9,1,CHELSEA,4,K4,254 WEST 23RD STREET,10011.0,0.0,3.0,3.0,"2,468","4,700",1920.0,4,K4,4750000,09/05/2019,1014136.0
10,1,CHELSEA,4,K4,276 WEST 25TH STREET,10001.0,0.0,2.0,2.0,"2,380","4,666",1910.0,4,K4,6900000,08/02/2019,1014185.0
11,1,CHELSEA,4,L1,"148 WEST 24TH STREET, 4 FL",10011.0,0.0,15.0,15.0,"4,937","55,923",1910.0,4,L1,4500000,02/28/2019,1014966.0
12,1,CHELSEA,4,L1,118 WEST 27TH STREET,10001.0,6.0,9.0,15.0,"3,703","43,393",1910.0,4,L1,0,03/20/2019,1015050.0
13,1,CHELSEA,4,E9,542 WEST 29TH STREET,10001.0,0.0,1.0,1.0,"4,937","8,500",1946.0,4,E9,21350000,03/13/2019,1012437.0
14,1,CHELSEA,4,E9,157 WEST 18TH STREET,10011.0,0.0,1.0,1.0,"3,620","23,800",1906.0,4,E9,23200000,02/20/2019,1014713.0
15,1,CHELSEA,4,V1,336 WEST 15TH STREET,10011.0,0.0,0.0,0.0,"1,528",0,NaN,4,V1,0,07/31/2019,1000000.0
16,1,CHELSEA,4,H2,113 WEST 24TH STREET,10011.0,0.0,1.0,1.0,"7,112",0,2019.0,4,V1,74159182,10/17/2019,1089732.0
17,1,CHELSEA,4,W3,259 10TH AVENUE,10001.0,0.0,1.0,1.0,"19,760","214,780",1928.0,4,W3,0,06/12/2019,1012384.0
18,1,CHELSEA,4,W8,324 WEST 15TH STREET,10011.0,2.0,1.0,3.0,"7,294","19,777",1960.0,4,W8,0,10/21/2019,1080380.0
19,1,CHELSEA,4,RG,"444 WEST 19TH STREET, P3",10011.0,0.0,1.0,1.0,0,0,NaN,4,RG,3550000,06/25/2019,1012565.0
20,1,CHELSEA,4,RG,"134 7 AVENUE, 4",10011.0,0.0,1.0,1.0,0,0,NaN,4,RG,18000,05/31/2019,1068033.0
21,1,CHELSEA,4,RG,"140 7TH AVENUE, 20",10011.0,0.0,1.0,1.0,0,0,NaN,4,RG,40000,12/17/2019,1068033.0
22,1,CHELSEA,4,RH,"346 WEST 17TH STREET, HOTEL",10011.0,0.0,1.0,1.0,0,0,1966.0,4,RH,175000000,06/06/2019,1088885.0
23,1,CHELSEA,4,RK,"545 WEST 25TH STREET, 7",10001.0,0.0,1.0,1.0,0,0,NaN,4,RK,4800000,03/11/2019,1087496.0
24,1,CHELSEA,4,RK,"410 WEST 24TH STREET, 8I",10011.0,0.0,1.0,1.0,0,0,1932.0,4,RK,440904,03/18/2019,1077236.0
25,1,CHELSEA,4,RK,"346 WEST 17TH STREET, RET",10011.0,0.0,1.0,1.0,0,0,1966.0,4,RK,175000000,06/06/2019,1088885.0
26,1,CHELSEA,4,RK,"129 WEST 20TH STREET, C-1",10011.0,0.0,1.0,1.0,0,0,NaN,4,RK,4980000,10/10/2019,1014747.0
27,1,CHELSEA,4,RS,"263 9 AVENUE, STG3",10001.0,0.0,1.0,1.0,0,0,NaN,4,RS,4820000,12/11/2019,1012826.0
28,MANHATTAN,ALPHABET CITY,1,B9,231 EAST 7TH,10009.0,2.0,0.0,2.0,1718,5154,1901.0,1,B9,0,10/02/2020,NaN
29,1,CHELSEA,4,RS,"263 9 AVENUE, STG13",10001.0,0.0,1.0,1.0,0,0,NaN,4,RS,2500000,05/09/2019,1012826.0
30,1,CHELSEA,4,RS,"163 WEST 18TH STREET, S3",10011.0,0.0,1.0,1.0,0,0,2006.0,4,RS,10,10/08/2019,1087533.0
31,1,CHELSEA,4,RS,"155 WEST 18TH STREET, SU 12",10011.0,0.0,1.0,1.0,0,0,2014.0,4,RS,1755000,06/12/2019,1090188.0
32,1,CHINATOWN,2,C7,26 PELL STREET,10013.0,27.0,2.0,29.0,"4,330","12,880",1920.0,2,C7,0,05/10/2019,1001782.0
33,1,CHINATOWN,2,C7,30 PELL STREET,10013.0,26.0,2.0,28.0,"3,817","13,400",1915.0,2,C7,0,05/10/2019,1001783.0
34,1,CHINATOWN,2,C7,102 BAYARD STREET,10013.0,18.0,1.0,19.0,"2,500","9,125",1890.0,2,C7,5500000,05/17/2019,1076901.0
35,1,CHINATOWN,2,C7,111 MOTT STREET,10013.0,22.0,1.0,23.0,"2,477","10,300",1900.0,2,C7,9000000,04/05/2019,1002642.0
36,1,CHINATOWN,2,C7,87 CHRYSTIE STREET,10002.0,10.0,1.0,11.0,"1,900","10,716",1900.0,2,C7,5500000,05/07/2019,1003940.0
37,1,CHINATOWN,2,D7,106-108 BAYARD STREET,10013.0,48.0,4.0,52.0,"4,910","30,582",1915.0,2,D7,20150000,06/17/2019,1002382.0
38,1,CHINATOWN,2,D0,"366 BROADWAY, STORE",10013.0,NaN,NaN,NaN,NaN,NaN,1920.0,2,D0,912063,06/24/2019,1001862.0
39,1,CHINATOWN,2,R2,"95 MADISON STREET, 4B",10002.0,1.0,0.0,1.0,0,0,NaN,2,R2,0,07/25/2019,1003333.0
40,1,CHINATOWN,2,R2,"95 MADISON STREET, 3D",10002.0,1.0,0.0,1.0,0,0,NaN,2,R2,0,05/30/2019,1003333.0
41,1,CHINATOWN,2,R4,"101 LEONARD STREET, 6A",10013.0,1.0,0.0,1.0,0,0,1920.0,2,R4,1190000,07/11/2019,1001838.0
42,1,CHINATOWN,2,R4,"101 LEONARD STREET, 6C",10013.0,1.0,0.0,1.0,0,0,1920.0,2,R4,1340000,12/04/2019,1001838.0
43,1,CHINATOWN,2,R4,"101 LEONARD STREET, 6D",10013.0,1.0,0.0,1.0,0,0,1920.0,2,R4,2287500,12/09/2019,1001838.0
44,1,CHINATOWN,2,R4,"101 LEONARD STREET, 7F",10013.0,1.0,0.0,1.0,0,0,1920.0,2,R4,2070000,05/29/2019,1001838.0
45,1,CHINATOWN,2,R4,"101 LEONARD STREET, 9E",10013.0,1.0,0.0,1.0,0,0,1920.0,2,R4,2900000,06/17/2019,1001838.0
46,1,CHINATOWN,2,R4,"376 BROADWAY, 7G",10013.0,1.0,0.0,1.0,0,0,1990.0,2,R4,0,06/26/2019,1001866.0
47,1,CHINATOWN,2,R4,"376 BROADWAY, 8G",10013.0,1.0,0.0,1.0,0,0,1990.0,2,R4,600000,08/01/2019,1001866.0
48,1,CHINATOWN,2,R4,"376 BROADWAY, 8G",10013.0,1.0,0.0,1.0,0,0,1990.0,2,R4,0,02/01/2019,1001866.0
49,1,CHINATOWN,2,R4,"376 BROADWAY, 11E",10013.0,1.0,0.0,1.0,0,0,1990.0,2,R4,0,06/14/2019,1001866.0

In [519]:
# Rearrange columns
column_order = ['BIN','SALE DATE', 'SALE PRICE','ADDRESS', 'BOROUGH', 'NEIGHBORHOOD','ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET','BUILDING CLASS AT TIME OF SALE','BUILDING CLASS AS OF FINAL ROLL','TAX CLASS AT TIME OF SALE','TAX CLASS AS OF FINAL ROLL','YEAR BUILT']
df_dropped = df_dropped[column_order]

# Display the DataFrame after rearranging columns
print("\nDataFrame after rearranging columns:")
df_dropped.head(5)

DataFrame after rearranging columns:

,BIN,SALE DATE,SALE PRICE,ADDRESS,BOROUGH,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS AS OF FINAL ROLL,TAX CLASS AT TIME OF SALE,TAX CLASS AS OF FINAL ROLL,YEAR BUILT
0,1012379.0,03/28/2019,43300000,555 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,8.0,8.0,"7,406","40,926",O2,O2,4,4,1926.0
1,1012382.0,05/23/2019,148254147,511 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,53.0,53.0,"9,890","83,612",O6,O6,4,4,1917.0
2,1012435.0,03/13/2019,11000000,538 WEST 29TH STREET,1,CHELSEA,10001.0,1.0,3.0,4.0,"2,498","7,380",O2,O2,4,4,1910.0
3,NaN,05/22/2019,591800000,450 WEST 15TH,1,CHELSEA,10011.0,0.0,30.0,30.0,"34,188","281,361",O6,O6,4,4,1936.0
4,1013367.0,04/01/2019,0,340 WEST 23RD STREET,1,CHELSEA,10011.0,3.0,1.0,4.0,"2,469","5,603",O8,O8,4,4,1900.0

In [520]:
# Count NaN records in column 'BIN'
nan_count = df_dropped['BIN'].isna().sum()
# Display the count of NaN records
print("\nNumber of NaN records in column 'BIN':", nan_count)

Number of NaN records in column 'BIN': 19851

In [521]:
# Count NaN records in each column of the DataFrame
nan_counts = df_dropped.isna().sum()

# Display the count of NaN records for each column of the DataFrame
print("\nNumber of NaN records in each column:")
print(nan_counts)

Number of NaN records in each column:
BIN                                 19851
SALE DATE                               0
SALE PRICE                              0
ADDRESS                                 0
BOROUGH                                 0
NEIGHBORHOOD                            0
ZIP CODE                               34
RESIDENTIAL UNITS                   75534
COMMERCIAL UNITS                   112390
TOTAL UNITS                         69514
LAND SQUARE FEET                   118412
GROSS SQUARE FEET                  118409
BUILDING CLASS AT TIME OF SALE          0
BUILDING CLASS AS OF FINAL ROLL      4183
TAX CLASS AT TIME OF SALE               0
TAX CLASS AS OF FINAL ROLL           4183
YEAR BUILT                          23525
dtype: int64

In [522]:
# Count duplicate records in the entire DataFrame
duplicate_count = df_dropped.duplicated().sum()

# Display the count of duplicate records
print("\nNumber of duplicate records in the DataFrame:", duplicate_count)

Number of duplicate records in the DataFrame: 11487

# Transformation Deliverables:
**1. Unified date format YYYY-MM-DD**

In [523]:
# Convert the 'Date' column to a unified date format (YYYY-MM-DD)
df_dropped['SALE DATE'] = pd.to_datetime(df_dropped['SALE DATE'], errors='coerce').dt.strftime('%Y-%m-%d')

# Display the DataFrame after converting the date format
print("\nDataFrame after converting the SALE DATE column to a unified date format (YYYY-MM-DD):")
df_dropped.head(5)

DataFrame after converting the SALE DATE column to a unified date format (YYYY-MM-DD):

,BIN,SALE DATE,SALE PRICE,ADDRESS,BOROUGH,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS AS OF FINAL ROLL,TAX CLASS AT TIME OF SALE,TAX CLASS AS OF FINAL ROLL,YEAR BUILT
0,1012379.0,2019-03-28,43300000,555 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,8.0,8.0,"7,406","40,926",O2,O2,4,4,1926.0
1,1012382.0,2019-05-23,148254147,511 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,53.0,53.0,"9,890","83,612",O6,O6,4,4,1917.0
2,1012435.0,2019-03-13,11000000,538 WEST 29TH STREET,1,CHELSEA,10001.0,1.0,3.0,4.0,"2,498","7,380",O2,O2,4,4,1910.0
3,NaN,2019-05-22,591800000,450 WEST 15TH,1,CHELSEA,10011.0,0.0,30.0,30.0,"34,188","281,361",O6,O6,4,4,1936.0
4,1013367.0,2019-04-01,0,340 WEST 23RD STREET,1,CHELSEA,10011.0,3.0,1.0,4.0,"2,469","5,603",O8,O8,4,4,1900.0

**2.  Splitting the date into multiple units (Year, Month, Day)**

In [524]:
# Convert the 'SALE DATE' column to datetime
df_dropped['SALE DATE'] = pd.to_datetime(df_dropped['SALE DATE'], errors='coerce')

# Extract Year, Month, and Day into separate columns
df_dropped['YEAR_SOLD'] = df_dropped['SALE DATE'].dt.year
df_dropped['MONTH_SOLD'] = df_dropped['SALE DATE'].dt.month
df_dropped['DAY_SOLD'] = df_dropped['SALE DATE'].dt.day

# Display the DataFrame after splitting the date into multiple units
print("\nDataFrame after splitting the SALE DATE:")
df_dropped.head(5)

DataFrame after splitting the SALE DATE:

,BIN,SALE DATE,SALE PRICE,ADDRESS,BOROUGH,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS AS OF FINAL ROLL,TAX CLASS AT TIME OF SALE,TAX CLASS AS OF FINAL ROLL,YEAR BUILT,YEAR_SOLD,MONTH_SOLD,DAY_SOLD
0,1012379.0,2019-03-28,43300000,555 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,8.0,8.0,"7,406","40,926",O2,O2,4,4,1926.0,2019,3,28
1,1012382.0,2019-05-23,148254147,511 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,53.0,53.0,"9,890","83,612",O6,O6,4,4,1917.0,2019,5,23
2,1012435.0,2019-03-13,11000000,538 WEST 29TH STREET,1,CHELSEA,10001.0,1.0,3.0,4.0,"2,498","7,380",O2,O2,4,4,1910.0,2019,3,13
3,NaN,2019-05-22,591800000,450 WEST 15TH,1,CHELSEA,10011.0,0.0,30.0,30.0,"34,188","281,361",O6,O6,4,4,1936.0,2019,5,22
4,1013367.0,2019-04-01,0,340 WEST 23RD STREET,1,CHELSEA,10011.0,3.0,1.0,4.0,"2,469","5,603",O8,O8,4,4,1900.0,2019,4,1

In [525]:
# Rename columns
new_column_names = {'SALE DATE': 'SALE_DATE', 'SALE PRICE': 'SALE_PRICE', 'ZIP CODE': 'ZIP_CODE', 'RESIDENTIAL UNITS': 'RESIDENTIAL_UNITS', 'COMMERCIAL UNITS': 'COMMERCIAL_UNITS', 'TOTAL UNITS': 'TOTAL_UNITS', 'LAND SQUARE FEET': 'LAND_SQFT', 'GROSS SQUARE FEET': 'GROSS_SQFT', 'BUILDING CLASS AT TIME OF SALE': 'INITIAL_BUILDING_CLASS', 'BUILDING CLASS AS OF FINAL ROLL': 'FINAL_BUILDING_CLASS', 'TAX CLASS AT TIME OF SALE': 'INITIAL_TAX_CLASS', 'TAX CLASS AS OF FINAL ROLL': 'FINAL_TAX_CLASS', 'YEAR BUILT':'YEAR_BUILT' }
df_dropped.rename(columns=new_column_names, inplace=True)

# Drop duplicate columns
#columns_to_drop = ['YEAR','MONTH','DAY']
#df_dropped = df_dropped.drop(columns=columns_to_drop)

# Display the DataFrame after renaming columns
print("\nDataFrame after renaming columns:")
df_dropped.head(5)

DataFrame after renaming columns:

,BIN,SALE_DATE,SALE_PRICE,ADDRESS,BOROUGH,NEIGHBORHOOD,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQFT,GROSS_SQFT,INITIAL_BUILDING_CLASS,FINAL_BUILDING_CLASS,INITIAL_TAX_CLASS,FINAL_TAX_CLASS,YEAR_BUILT,YEAR_SOLD,MONTH_SOLD,DAY_SOLD
0,1012379.0,2019-03-28,43300000,555 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,8.0,8.0,"7,406","40,926",O2,O2,4,4,1926.0,2019,3,28
1,1012382.0,2019-05-23,148254147,511 WEST 25TH STREET,1,CHELSEA,10001.0,0.0,53.0,53.0,"9,890","83,612",O6,O6,4,4,1917.0,2019,5,23
2,1012435.0,2019-03-13,11000000,538 WEST 29TH STREET,1,CHELSEA,10001.0,1.0,3.0,4.0,"2,498","7,380",O2,O2,4,4,1910.0,2019,3,13
3,NaN,2019-05-22,591800000,450 WEST 15TH,1,CHELSEA,10011.0,0.0,30.0,30.0,"34,188","281,361",O6,O6,4,4,1936.0,2019,5,22
4,1013367.0,2019-04-01,0,340 WEST 23RD STREET,1,CHELSEA,10011.0,3.0,1.0,4.0,"2,469","5,603",O8,O8,4,4,1900.0,2019,4,1

**3. Removing NULL/NaN values**
- This step is important to do before we start changing data types
- For example, if we want to change a column's data type from float to int, but there is a record with a null/NaN value, you will get an error: **IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer**

In [526]:
# Count the number of rows and columns
df_dropped.shape

#Drop null/NaN values from each row in the DataFrame that has atleast 1 null/NaN value
df_cleaned = df_dropped.dropna()

# Count the number of rows and columns after DataFrame has been cleaned
df_cleaned.shape

(606260, 20)

(457177, 20)

**4. Removing Duplicate rows**

In [527]:
# Count the number of rows, columns in the cleaned DataFrame
df_cleaned.shape

# Drop duplicate rows in the cleaned DataFrame
df_cleaned.drop_duplicates(inplace=True)

#Count the number of rows, columns in the cleaned DataFrame after dropping duplicates
df_cleaned.shape

(457177, 20)

/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/1937588107.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop_duplicates(inplace=True)

(450022, 20)

**5. Verify Data against data reference**

In [528]:
# Convert appropiate datatypes to int as necessary
df_cleaned['BIN'] = df_cleaned['BIN'].astype(int)
df_cleaned['ZIP_CODE'] = df_cleaned['ZIP_CODE'].astype(int)
df_cleaned['RESIDENTIAL_UNITS'] = df_cleaned['RESIDENTIAL_UNITS'].astype(int)
df_cleaned['COMMERCIAL_UNITS'] = df_cleaned['COMMERCIAL_UNITS'].astype(int)
df_cleaned['TOTAL_UNITS'] = df_cleaned['TOTAL_UNITS'].astype(int)
df_cleaned['YEAR_BUILT'] = df_cleaned['YEAR_BUILT'].astype(int)

# Get rid of ',' and '-' in the 'LAND_SQFT' and 'GROSS_SQFT' columns
df_cleaned['LAND_SQFT'] = df_cleaned['LAND_SQFT'].str.replace(',', '')
df_cleaned['LAND_SQFT'] = df_cleaned['LAND_SQFT'].str.replace('-', '')
df_cleaned['GROSS_SQFT'] = df_cleaned['GROSS_SQFT'].str.replace(',', '')
df_cleaned['GROSS_SQFT'] = df_cleaned['GROSS_SQFT'].str.replace('-', '')

# Convert the 'FINAL_TAX_CLASS' to numeric with errors='coerce'
# errors='coerce' converts the column to numeric values, otherwise non-convertible values are replaced with NaN
df_cleaned['FINAL_TAX_CLASS'] = pd.to_numeric(df_cleaned['FINAL_TAX_CLASS'], errors='coerce')

# Convert the remaining column to numeric
df_cleaned['LAND_SQFT'] = pd.to_numeric(df_cleaned['LAND_SQFT'])
df_cleaned['GROSS_SQFT'] = pd.to_numeric(df_cleaned['GROSS_SQFT'])
df_cleaned['FINAL_TAX_CLASS'] = pd.to_numeric(df_cleaned['FINAL_TAX_CLASS'])

# Convert 'INITIAL_TAX_CLASS' column into float data type to match FINAL_TAX_CLASS column data type
df_cleaned['INITIAL_TAX_CLASS'] = df_cleaned['INITIAL_TAX_CLASS'].astype(float)

# Display DataFrame with edited data types
df_cleaned.head(10)

/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['BIN'] = df_cleaned['BIN'].astype(int)
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['ZIP_CODE'] = df_cleaned['ZIP_CODE'].astype(int)
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['RESIDENTIAL_UNITS'] = df_cleaned['RESIDENTIAL_UNITS'].astype(int)
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['COMMERCIAL_UNITS'] = df_cleaned['COMMERCIAL_UNITS'].astype(int)
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['TOTAL_UNITS'] = df_cleaned['TOTAL_UNITS'].astype(int)
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['YEAR_BUILT'] = df_cleaned['YEAR_BUILT'].astype(int)
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LAND_SQFT'] = df_cleaned['LAND_SQFT'].str.replace(',', '')
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LAND_SQFT'] = df_cleaned['LAND_SQFT'].str.replace('-', '')
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['GROSS_SQFT'] = df_cleaned['GROSS_SQFT'].str.replace(',', '')
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['GROSS_SQFT'] = df_cleaned['GROSS_SQFT'].str.replace('-', '')
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['FINAL_TAX_CLASS'] = pd.to_numeric(df_cleaned['FINAL_TAX_CLASS'], errors='coerce')
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LAND_SQFT'] = pd.to_numeric(df_cleaned['LAND_SQFT'])
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['GROSS_SQFT'] = pd.to_numeric(df_cleaned['GROSS_SQFT'])
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['FINAL_TAX_CLASS'] = pd.to_numeric(df_cleaned['FINAL_TAX_CLASS'])
/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_22078/2116122065.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['INITIAL_TAX_CLASS'] = df_cleaned['INITIAL_TAX_CLASS'].astype(float)

,BIN,SALE_DATE,SALE_PRICE,ADDRESS,BOROUGH,NEIGHBORHOOD,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQFT,GROSS_SQFT,INITIAL_BUILDING_CLASS,FINAL_BUILDING_CLASS,INITIAL_TAX_CLASS,FINAL_TAX_CLASS,YEAR_BUILT,YEAR_SOLD,MONTH_SOLD,DAY_SOLD
0,1012379,2019-03-28,43300000,555 WEST 25TH STREET,1,CHELSEA,10001,0,8,8,7406,40926,O2,O2,4.0,4.0,1926,2019,3,28
1,1012382,2019-05-23,148254147,511 WEST 25TH STREET,1,CHELSEA,10001,0,53,53,9890,83612,O6,O6,4.0,4.0,1917,2019,5,23
2,1012435,2019-03-13,11000000,538 WEST 29TH STREET,1,CHELSEA,10001,1,3,4,2498,7380,O2,O2,4.0,4.0,1910,2019,3,13
4,1013367,2019-04-01,0,340 WEST 23RD STREET,1,CHELSEA,10011,3,1,4,2469,5603,O8,O8,4.0,4.0,1900,2019,4,1
5,1015055,2019-10-24,99350000,158 WEST 27 STREET,1,CHELSEA,10001,0,14,14,8305,108000,O6,O6,4.0,4.0,1913,2019,10,24
6,1015061,2019-10-17,115000000,307 7 AVENUE,1,CHELSEA,10001,0,194,194,10225,197612,O4,O4,4.0,4.0,1926,2019,10,17
7,1080314,2019-05-23,148254147,521 WEST 25TH STREET,1,CHELSEA,10001,0,1,1,24687,81065,K9,K9,4.0,4.0,1910,2019,5,23
8,1014135,2019-09-05,14500000,250 WEST 23RD STREET,1,CHELSEA,10011,0,1,1,4938,15716,K7,K7,4.0,4.0,1948,2019,9,5
9,1014136,2019-09-05,4750000,254 WEST 23RD STREET,1,CHELSEA,10011,0,3,3,2468,4700,K4,K4,4.0,4.0,1920,2019,9,5
10,1014185,2019-08-02,6900000,276 WEST 25TH STREET,1,CHELSEA,10001,0,2,2,2380,4666,K4,K4,4.0,4.0,1910,2019,8,2

In [529]:
# Check new data types have been converted sucessfully
df_cleaned.dtypes

BIN                                int64
SALE_DATE                 datetime64[ns]
SALE_PRICE                         int64
ADDRESS                           object
BOROUGH                           object
NEIGHBORHOOD                      object
ZIP_CODE                           int64
RESIDENTIAL_UNITS                  int64
COMMERCIAL_UNITS                   int64
TOTAL_UNITS                        int64
LAND_SQFT                          int64
GROSS_SQFT                         int64
INITIAL_BUILDING_CLASS            object
FINAL_BUILDING_CLASS              object
INITIAL_TAX_CLASS                float64
FINAL_TAX_CLASS                  float64
YEAR_BUILT                         int64
YEAR_SOLD                          int32
MONTH_SOLD                         int32
DAY_SOLD                           int32
dtype: object

**Here, we are cleaning the data further. Since, the 'BIN' column has duplicate records, we must remove those records since 'BIN' is our unique identifier column**

In [530]:
# Count the number of duplicate values in the 'BIN' column
duplicate_count = df_cleaned.duplicated(subset=['BIN']).sum()

# Display the count of duplicate values
print("\nNumber of duplicate values in 'BIN':", duplicate_count)

# Drop records with the same value in 'BIN'
# keep='first' will keep the first record and delete it's duplicates
df_cleaned = df_cleaned.drop_duplicates(subset=['BIN'], keep='first')

# Count the number of duplicate values in the 'BIN' column again
duplicate_count = df_cleaned.duplicated(subset=['BIN']).sum()

# Display the count of duplicate values
print("\nNumber of duplicate values in 'BIN':", duplicate_count)

# See the new shape of the cleaned DataFrame
df_cleaned.shape

Number of duplicate values in 'BIN': 183063

Number of duplicate values in 'BIN': 0

(266959, 20)

**Now, you should have a near-fully cleaned data set based on your requirements. We can then move on to using our FACT columns to create aggregatable columns that can provide us with actionable insights**

**6. Adding one or many columns**

In [531]:
# Add column(s) for properties that have not been sold
df_cleaned['PROPERTIES_UNSOLD'] = df_cleaned['SALE_PRICE'] <= 0
df_cleaned['PROPERTIES_UNSOLD_PRE_2020'] = (df_cleaned['YEAR_SOLD'].isin([2017, 2018, 2019])) & (df_cleaned['SALE_PRICE'] <= 0)
df_cleaned['PROPERTIES_UNSOLD_POST_2020'] = (df_cleaned['YEAR_SOLD'].isin([2020, 2021, 2022])) & (df_cleaned['SALE_PRICE'] <= 0)

# Add column(s) for properties that have been sold
df_cleaned['PROPERTIES_SOLD_POST_2020'] = (df_cleaned['YEAR_SOLD'].isin([2020, 2021, 2022])) & (df_cleaned['SALE_PRICE'] > 0)
df_cleaned['PROPERTIES_SOLD_PRE_2020'] = (df_cleaned['YEAR_SOLD'].isin([2017, 2018, 2019])) & (df_cleaned['SALE_PRICE'] > 0)

# Show DataFrame with new column
df_cleaned.head(5)

# Count Number of properties not yet sold
count_properties_unsold = df_cleaned['PROPERTIES_UNSOLD'].sum()
print(f'Number of properties not yet sold: {count_properties_unsold}')

# Count Number of properties not yet sold pre-pandemic
count_properties_unsold_pre_2020 = df_cleaned['PROPERTIES_UNSOLD_PRE_2020'].sum()
print(f'Number of properties not yet sold pre-pandemic: {count_properties_unsold_pre_2020}')

# Count Number of properties not yet sold post-pandemic
count_properties_unsold_post_2020 = df_cleaned['PROPERTIES_UNSOLD_POST_2020'].sum()
print(f'Number of properties not yet sold post-pandemic: {count_properties_unsold_post_2020}')

# Count Number of properties sold post-pandemic
count_properties_sold_post_2020 = df_cleaned['PROPERTIES_SOLD_POST_2020'].sum()
print(f'\nNumber of properties sold post-pandemic: {count_properties_sold_post_2020}')

# Count Number of properties sold pre-pandemic
count_properties_sold_pre_2020 = df_cleaned['PROPERTIES_SOLD_PRE_2020'].sum()
print(f'Number of properties sold pre-pandemic: {count_properties_sold_pre_2020}')

# Find the difference of properties un-sold pre and post pandemic
difference_properties_unsold_preandpost_2020 = count_properties_unsold_post_2020 - count_properties_unsold_pre_2020
print(f'\nDifference in properties unsold pre and post pandemic: {difference_properties_unsold_preandpost_2020} more properties unsold post-pandemic')
print('Conclusion: There are more properties unsold post-pandemic.')

# Find the difference of properties sold pre and post pandemic
difference_properties_sold_preandpost_2020 = count_properties_sold_pre_2020 - count_properties_sold_post_2020
print(f'\nDifference in properties sold pre and post pandemic: {difference_properties_sold_preandpost_2020} more properties sold pre-pandemic')
print('Conclusion: There are more properties sold pre-pandemic.')

,BIN,SALE_DATE,SALE_PRICE,ADDRESS,BOROUGH,NEIGHBORHOOD,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,...,FINAL_TAX_CLASS,YEAR_BUILT,YEAR_SOLD,MONTH_SOLD,DAY_SOLD,PROPERTIES_UNSOLD,PROPERTIES_UNSOLD_PRE_2020,PROPERTIES_UNSOLD_POST_2020,PROPERTIES_SOLD_POST_2020,PROPERTIES_SOLD_PRE_2020
0,1012379,2019-03-28,43300000,555 WEST 25TH STREET,1,CHELSEA,10001,0,8,8,...,4.0,1926,2019,3,28,False,False,False,False,True
1,1012382,2019-05-23,148254147,511 WEST 25TH STREET,1,CHELSEA,10001,0,53,53,...,4.0,1917,2019,5,23,False,False,False,False,True
2,1012435,2019-03-13,11000000,538 WEST 29TH STREET,1,CHELSEA,10001,1,3,4,...,4.0,1910,2019,3,13,False,False,False,False,True
4,1013367,2019-04-01,0,340 WEST 23RD STREET,1,CHELSEA,10011,3,1,4,...,4.0,1900,2019,4,1,True,True,False,False,False
5,1015055,2019-10-24,99350000,158 WEST 27 STREET,1,CHELSEA,10001,0,14,14,...,4.0,1913,2019,10,24,False,False,False,False,True

Number of properties not yet sold: 99141
Number of properties not yet sold pre-pandemic: 41445
Number of properties not yet sold post-pandemic: 43974

Number of properties sold post-pandemic: 64519
Number of properties sold pre-pandemic: 73754

Difference in properties unsold pre and post pandemic: 2529 more properties unsold post-pandemic
Conclusion: There are more properties unsold post-pandemic.

Difference in properties sold pre and post pandemic: 9235 more properties sold pre-pandemic
Conclusion: There are more properties sold pre-pandemic.

**Below, you can run the following codes to find unique values in columns. You can then gather more insights with those unique values.**

**Some ideas are:**
- Find the years with the most sold properties
- Find the months with the most sold properties
- Find the days with the most sold properties
- Find the average number of sales in each month or year

**You can also find which months had more active sales pre and post 2020 to see how the pandemic may have affected sales. Please note that the pandemic started in March 2020. The months before may or may not reflect the effects of the pandemic yet.**

In [533]:
# Find unique values in columns
unique_years = df_cleaned['YEAR_SOLD'].unique()
unique_years = sorted(unique_years)

unique_months = df_cleaned['MONTH_SOLD'].unique()
unique_months = sorted(unique_months)

unique_days = df_cleaned['DAY_SOLD'].unique()
unique_days = sorted(unique_days)

print(unique_years)
print(unique_months)
print(unique_days)

[2016, 2017, 2018, 2019, 2020, 2021, 2022]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]